<header class="vc-header">
    <div class="vc-header__logo">
        <img class="vc-header__img" src="assets/images/ic-logo.svg" alt="play logo">
    </div>
    <div *ngIf="user$ | async" class="vc-header__block">
        <vc-user [user]="user$ | async"></vc-user>
        <img class="vc-header__icon" src="assets/images/ic-exit.svg" alt="exit icon">
        <button type="button" class="vc-header__button" (click)="logOut()">Log off</button>
    </div>
    <div *ngIf="(user$ | async) === (null || undefined) && !isLoginPage()" >
        <img class="vc-header__icon" src="assets/images/ic-exit.svg" alt="login icon">
        <button class="vc-header__button" (click)="openLoginPage()">Log in</button>
    </div>
</header>
