@import 'variables';

.vc-header {
    height: 64px;
    background: $vc-dark-blue;
    color: $vc-white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        align-items: center;
        display: flex;
    }

    &__img {
        width: auto;
        height: 32px;
        margin-right: 10px;
        margin-left: 85px;
    }
}
