<div class="vc-form">
    <h3 class="vc-form__name">New Course</h3>
    <form id="course" class="vc-form__block" name="course">
        <label for="courseTitle" class="vc-label">Title:</label>
        <input id="courseTitle" class="vc-input" type="text" placeholder="Text input" required>
        <label for="courseDescription" class="vc-label">Description:</label>
        <textarea class="vc-form__textarea" id="courseDescription" placeholder="Add description"></textarea>
        <vc-duration-input></vc-duration-input>
        <vc-date-input></vc-date-input>

        <div class="vc-form__buttons">
            <button [routerLink]="['/courses']" class="vc-form__button vc-form__cancel">Cancel</button>
            <button class="vc-form__button vc-form__save" (click)="saveCourse()">Save</button>
        </div>
    </form>
</div>
