@import 'variables';

.vc-courses-list {
    &__wrapper {
        text-align: center;
    }

    &__button {
        height: 44px;
        border-radius: 50px;
        cursor: pointer;
        color: $vc-soft-blue;
        font-size: 12px;
        width: 100px;
        border: 2px solid $vc-soft-blue;
        background: $vc-white;

        &[disabled] {
            border-color: $vc-stale-grey;
            color: $vc-stale-grey;
            cursor: default;
        }

        &:first-child {
            margin-right: 50px;
        }

        &:hover:not([disabled]) {
            border-color: $vc-blue;
            color: $vc-blue;
        }
    }

    &__message {
        height: 40px;
        border-radius: 6px;
        border: 1px solid $vc-blue;
        color: $vc-blue;
        text-transform: uppercase;
        font-size: 16px;
        width: 100%;
        text-align: center;
        padding: 5px;
        margin-bottom: 15px;
    }
}
