<div class="vc-date" id="courseDate" [class.vc-date--error]="isTouched && !isValid">
    <input
        class="vc-date__input vc-date__input--day"
        type="number"
        placeholder="dd"
        [(ngModel)]="day.value"
        (blur)="onTouch('day')"
        (change)="onChange()">
    <span>/</span>
    <input
        class="vc-date__input vc-date__input--month"
        type="number"
        placeholder="mm"
        [(ngModel)]="month.value"
        (blur)="onTouch('month')"
        (change)="onChange()">
    <span>/</span>
    <input
        class="vc-date__input vc-date__input--year"
        type="text"
        placeholder="yyyy"
        [(ngModel)]="year.value"
        (blur)="onTouch('year')"
        (change)="onChange()">
</div>