@import 'fonts';
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $vc-ff-source-sans;
    font-size: 14px;
    line-height: 1.71;
    min-height: 100%;
    background: $vc-grey;
}

html,
body {
    height: 100%;
}
