@import 'variables';

.vc-footer {
    background: $vc-dark-blue;
    display: flex;
    width: 100%;
    height: 64px;
    align-items: center;
    justify-content: flex-end;
    color: $vc-white;
    position: absolute;
    left: 0;
    bottom: 0;

    &__text {
        margin-right: 20px;
    }
}
