<div class="vc-course">
    <div class="vc-course__wrapper">
        <h4 class="vc-course__title">{{course?.title}}</h4>
        <div class="vc-course__info">
            <img class="vc-course__info-icon" src="assets/images/ic-clock.svg" alt="Clock icon">
            <span class="vc-course__info-text">{{course?.duration | time}}</span>
            <img class="vc-course__info-icon" src="assets/images/ic-calendar.svg" alt="Calendar icon">
            <span>{{course?.creationDate | date}}</span>
        </div>
    </div>
    <p class="vc-course__description">{{course?.description}}</p>
    <div class="vc-course__buttons">
        <button class="vc-course__button vc-course__button--edit" type="button" (click)="edit()">
            <img class="vc-course__pencil-icon" src="assets/images/ic-pencil.svg" alt="Pencil icon">
            Edit
        </button>
        <button class="vc-course__button vc-course__button--delete" type="button" (click)="delete()">
            <img class="vc-course__delete-icon" src="assets/images/ic-trash.svg" alt="Delete icon">
            Delete
        </button>
    </div>
</div>
