@import 'variables';

.vc-user {
    display: flex;
    align-items: center;
    margin-right: 25px;

    &__icon {
        margin-right: 9px;

        &--user {
            width: 10px;
            height: 12px;
        }
    }
}
